body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppings",sans-serif;
    background:url(../css/JPG.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100vh;
    width: 100%;
}
header{
position:relative;
color: #fff;
}

#aboutContent {
    color: #fff;
    font-size: 15px;
    padding: 20px;
}

#team {
    color: #fff;
    padding: 20px;
    text-align: left;
    font-size: 15px;
}