body{
              justify-content: center;
               align-items: center;
               min-height: 100vh;
               width: 100%;
               height: 100%;
               background: url(../css/img/dashboard.png) no-repeat;
               background-size: 1350px;
               background-position: center; 
               /*background: url(../css/img/dash.jpg) no-repeat;
               width: 100%;
               height: 100%;
               background-size: 1500px;*/
               
            

       }
   
       #headerSection{
           padding: 5px;
       }
   
       #headerSection h1{
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
   
       #backbtn{
           padding: 5px;
           font-size: 15px;
           background-color: rgb(63, 19, 221);
           color: aliceblue;
           border-radius: 5px;
           float: left;
           margin : 15px;
       }
   
       #logoutbtn{
           padding: 5px;
           font-size: 15px;
           background-color: blue;
           color: aliceblue;
           border-radius: 5px;
           float: right;
           margin : 15px;
       }  
   
       #profile{
            background: transparent;
            border: 2px solid rgb(131, 107, 107);
            backdrop-filter: blur(30px);
            box-shadow: 0 0 10px black;
           width: 30%;
           padding: 20px;
           float: left;
           border-radius: 10px;
       }
   
       #group{
          /* background-color: white;*/
           background: transparent;
           border: 2px solid rgb(131, 107, 107);
           backdrop-filter: blur(20px);
           box-shadow: 0 0 10px black;
           width: 60%;
           padding: 20px;
           float: right;
           border-radius: 10px;
       }
       #votebtn{
           padding: 5px;
           font-size: 15px;
           background-color: blue;
           color: aliceblue;
           border-radius: 5px;
       }
   
       #mainpannel{
           padding: 10px;
       }
   
       #voted{
           padding: 5px;
           font-size: 15px;
           background-color: green;
           color: aliceblue;
           border-radius: 5px;
       }
