*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family:"poppings",sans-serif;
}
body{

        background-color: aqua;
        /*background: url("reg.jpg") no-repeat;
        background-size: cover;
        background-position: center;*/
    }
p{
    padding: 0 5px;
}